<header>
  <nav>
    <!-- <a href="/">Mybrary</a> -->
    <!-- <ul>
      <li><a href="/user/login" id="login">login</a></li>
      <li><a href="/user/register" id="register">register</a></li>
    </ul> -->
  </nav>
</header>
