<form action="/user/login" method="POST">
  <label>Login ID</label>
  <input type="text" name="login" />
  <br />
  <label>Password</label>
  <input type="text" name="password" />
  <br />
  <button type="submit" id="login">Login</button>
</form>
<br />
<a href="/user/register" id="signup">Sign up</a>
